doctype 5
html(lang="en", ng-app="myApp")
  head
    meta(charset='utf8')
    title Angular Socket.io Seed App
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css')
    link(rel='stylesheet', href='/css/app.css')

block body
  div(class='mavlink_parameters', ng-controller='AppCtrl')
    ul.nav.nav-list
      li.active
          a(href='#')
            h3 Mavlink parameters        
        li
          a(href='#')
            i.icon-fixed-width.icon-cogs
            span
            | autopilot : 
            keepoldvalueifnewisempty(val='message.autopilot')
        li
          a(href='#')
            i.icon-fixed-width.icon-cogs
            span
            | type : 
            keepoldvalueifnewisempty(val='message.type')
        li
          a(href='#')
            i.icon-fixed-width.icon-cogs
            span
            | system_status : 
            keepoldvalueifnewisempty(val='message.system_status')
        li
          a(href='#')
            i.icon-fixed-width.icon-plane
            span
            | mavlink_version : 
            keepoldvalueifnewisempty(val='message.mavlink_version')
        li
          a(href='#')
            i.icon-fixed-width.icon-fighter-jet
            span
              | airspeed : 
            keepoldvalueifnewisempty(val='message.airspeed')
            span  meters/second
        li
          a(href='#')
            i.icon-fixed-width.icon-fighter-jet
            span
            | groundspeed : 
            keepoldvalueifnewisempty(val='message.groundspeed')
            span  meters/second
        li
          a(href='#')
            i.icon-fixed-width.icon-plane
            span
            | heading : 
            keepoldvalueifnewisempty(val='message.heading')
            span  °
        li
          a(href='#')
            i.icon-fixed-width.icon-dashboard
            span
            | throttle : 
            keepoldvalueifnewisempty(val='message.throttle')
            span  %
        li
          a(href='#')
            i.icon-fixed-width.icon-globe
            | lat : 
            keepoldvalueifnewisempty(val='message.lat')
        li
          a(href='#')
            i.icon-fixed-width.icon-globe
            span
            | lon : 
            keepoldvalueifnewisempty(val='message.lon')
        li
          a(href='#')
            i.icon-fixed-width.icon-globe
            | alt : 
            keepoldvalueifnewisempty(val='message.alt')
            span  meters
        li
          a(href='#')
            i.icon-fixed-width.icon-fighter-jet
            span
            | relative_alt : 
            keepoldvalueifnewisempty(val='message.relative_alt')
            span  meters
        li
          a(href='#')
            i.icon-fixed-width.icon-external-link-sign
            span
            | climb : 
            keepoldvalueifnewisempty(val='message.climb')
            span  meters/second
        li
          a(href='#')
            i.icon-fixed-width.icon-resize-horizontal
            span
            | nav_roll : 
            keepoldvalueifnewisempty(val='message.nav_roll')
            span  °
        li
          a(href='#')
            i.icon-fixed-width.icon-resize-vertical
            | nav_pitch : 
            keepoldvalueifnewisempty(val='message.nav_pitch')
            span  °
        li
          a(href='#')
            i.icon-fixed-width.icon-location-arrow
            span
            | nav_bearing : 
            keepoldvalueifnewisempty(val='message.nav_bearing')
            span  °
        li
          a(href='#')
            i.icon-fixed-width.icon-location-arrow
            span
            | target_bearing : 
            keepoldvalueifnewisempty(val='message.target_bearing')
            span  °
        li
          a(href='#')
            i.icon-fixed-width.icon-plane
            span
            | wp_dist : 
            keepoldvalueifnewisempty(val='message.wp_dist')
            span  meters
        li
          a(href='#')
            i.icon-fixed-width.icon-cog
            span
            | xacc : 
            keepoldvalueifnewisempty(val='message.xacc')
            span  m/s^2
        li
          a(href='#')
            i.icon-fixed-width.icon-cog
            span
            | yacc : 
            keepoldvalueifnewisempty(val='message.yacc')
            span  m/s^2
        li
          a(href='#')
            i.icon-fixed-width.icon-cog
            span
            | zacc : 
            keepoldvalueifnewisempty(val='message.zacc')
            span  m/s^2
        li
          a(href='#')
            i.icon-fixed-width.icon-cog
            span
            | xgyro : 
            keepoldvalueifnewisempty(val='message.xgyro')
            span  rad / sec
        li
          a(href='#')
            i.icon-fixed-width.icon-cog
            span
            | ygyro : 
            keepoldvalueifnewisempty(val='message.ygyro')
            span  rad / sec
        li
          a(href='#')
            i.icon-fixed-width.icon-cog
            span
            | zgyro : 
            keepoldvalueifnewisempty(val='message.zgyro')
            span  rad / sec
        li
          a(href='#')
            i.icon-fixed-width.icon-magnet
            span
            | xmag : 
            keepoldvalueifnewisempty(val='message.xmag')
            span  gauss
        li
          a(href='#')
            i.icon-fixed-width.icon-magnet
            span
            | ymag : 
            keepoldvalueifnewisempty(val='message.ymag')
            span  gauss
        li
          a(href='#')
            i.icon-fixed-width.icon-magnet
            span
            | zmag : 
            keepoldvalueifnewisempty(val='message.zmag')
            span  gauss
        li
          a(href='#')
            i.icon-fixed-width.icon-bolt
            span
            | vcc : 
            keepoldvalueifnewisempty(val='message.vcc')
            span  mV
        li
          a(href='#')
            i.icon-fixed-width.icon-time
            span
            | time_boot_ms : 
            keepoldvalueifnewisempty(val='message.time_boot_ms')
            span  ms

  div(ng-controller='CompassCtrl')
    div(class='bearings')
      div(class='north')
        | N
      div(class='east')
        | E
      div(class='south')
        | S
      div(class='west')
        | W
      div(class="compassHeadingDisplay")
        | {{heading}}

    div(class='compass', style='-webkit-transform:rotate({{heading}}deg)')
      div(class='arrow-up')
    
  div(ng-controller='GoogleMapCtrl')
    .google-map(center='position.coords', zoom='zoomProperty', markers='markersProperty', latitude='clickedLatitudeProperty', longitude='clickedLongitudeProperty', mark-click='true', draggable='true', fit='false', events='eventsProperty')

  script(src='http://maps.googleapis.com/maps/api/js?sensor=false&language=en')
  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular-google-maps/angular-google-maps.js')
  script(src='/socket.io/socket.io.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')